<?xml version="1.0"?>
<config>
	<modules>
		<Magcoder_Customergrid>
			<version>0.1.0</version>
		</Magcoder_Customergrid>
	</modules>
	<adminhtml>
		<events>
			<core_block_abstract_prepare_layout_before>
				<observers>
					<magcustgrid_add_column>
						<type>model</type>
						<class>Magcoder_Customergrid_Model_Observer</class>
						<method>addCompanyColumn</method>
					</magcustgrid_add_column>
				</observers>
			</core_block_abstract_prepare_layout_before>
			<eav_collection_abstract_load_before>
				<observers>
					<magcustgrid_update_customer_grid_collection>
						<type>model</type>
						<class>Magcoder_Customergrid_Model_Observer</class>
						<method>updateCustomerGridCollection</method>
					</magcustgrid_update_customer_grid_collection>
				</observers>
			</eav_collection_abstract_load_before>
		</events>
	</adminhtml>
	<global>
		<models>
			<customergrid>
				<class>Magcoder_Customergrid_Model</class>
			</customergrid>
		</models>
	</global>
</config>
